<navbar>
  <button mat-icon-button [routerLink]="'/home'">
    <mat-icon color="primary">home</mat-icon>
  </button>
</navbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <ul class="sidenav">
      <li class="sidebar-toggle">
        @if (sidenav.opened) {
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        }
      </li>
      <li>
        <a mat-button [routerLink]="'/calendar'">Calendar</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <breadcumbs-bar [breadcumbs]="breadcumbs()">
      @if (!sidenav.opened) {
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      }
    </breadcumbs-bar>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
