:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  border: solid 1px gray;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header-center button {
  margin-right: 5px;
}

.body {
  flex-grow: 1;
  padding: 15px;
  display: flex;
}

month-view {
  flex-grow: 1;
}
